.button, body {
  font-family: "Open Sans", Verdana, sans-serif;
}

.promo__text, .footer-navigation__link, .link-button, h1 {
  font-family: "Poppins", Verdana, sans-serif;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

p {
  color: #544837;
}

h1 {
  color: #2F281E;
  font-style: normal;
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 5.4rem;
}

h2 {
  color: #2F281E;
  font-style: normal;
  font-weight: 700;
  font-size: 3.4rem;
  line-height: 4.6rem;
}

h3 {
  color: #2F281E;
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.4rem;
}

h4 {
  color: #2F281E;
  font-style: normal;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 3rem;
}

h5 {
  color: #2F281E;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.block-shadowed {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.button {
  padding: 11px 27px 13px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s;
}
.button_bordered {
  background-color: #FFFFFF;
  border: 1px solid #BCD0E5;
  color: #544837;
}
.button_bordered:hover {
  background-color: #BCD0E5;
}
.button_colored {
  background-color: #FF9900;
  color: #FFFFFF;
  border: 1px solid #FF9900;
}
.button_colored:hover {
  background-color: #FF7549;
  border-color: #FF7549;
}

.link-button {
  display: flex;
  align-items: center;
  justify-content: start;
  color: #FF9900;
  text-decoration: none;
}
.link-button:hover {
  color: #FF7549;
}

.ico {
  display: inline-block;
  cursor: pointer;
}
.ico_play {
  width: 18px;
  height: 19px;
  margin-right: 9px;
  background-image: url("../../img/icons/play.svg");
  background-repeat: no-repeat;
}
.ico_arrow {
  width: 12px;
  height: 17px;
  background-image: url("../../img/icons/arrow.svg");
  background-repeat: no-repeat;
}
.ico_snake {
  width: 18px;
  height: 14px;
  background-image: url("../../img/icons/snake.svg");
  background-repeat: no-repeat;
}
.ico_heart {
  width: 17px;
  height: 15px;
  background-image: url("../../img/icons/heart.svg");
  background-repeat: no-repeat;
}
.ico_clock {
  width: 15px;
  height: 17px;
  background-image: url("../../img/icons/clock.svg");
  background-repeat: no-repeat;
}
.ico_phone {
  width: 13px;
  height: 13px;
  background-image: url("../../img/icons/phone.svg");
  background-repeat: no-repeat;
}
.ico_letter {
  width: 11px;
  height: 8px;
  background-image: url("../../img/icons/letter.svg");
  background-repeat: no-repeat;
}

.ico-round {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.ico-round_white {
  background-color: #FFFFFF;
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 19px;
}
.icon-square_violet {
  background-color: #7752BE;
}
.icon-square_yellow {
  background-color: #FAB005;
}
.icon-square_red {
  background-color: #F03E3D;
}
.icon-square_blue {
  background-color: #4DADF7;
}

.tags {
  display: flex;
  justify-content: start;
  align-items: center;
  color: #544837;
}

.tag {
  margin-right: 7px;
  padding: 0 14px;
  border-radius: 90px;
  transition: background-color 0.3s;
  font-style: 8rem;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2;
}
.tag:last-child {
  margin-right: 0;
}
.tag_selected {
  color: #FFFFFF;
  background-color: #FF9900;
  border: 1px solid #FF9900;
}
.tag_selected:hover {
  background-color: #FF7549;
}
.tag_bordered {
  border: 1px solid #BCD0E5;
}
.tag_bordered:hover {
  background-color: #BCD0E5;
}
.tag_colored {
  background-color: #F5F5F5;
  border: 1px solid #F5F5F5;
}

.wrapper {
  max-width: 1197px;
  margin: 0 auto;
}

.header {
  padding: 15px 0 17px 0;
  background-color: #FFFFFF;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__buttons {
  display: flex;
  justify-content: start;
}
.header__buttons .button {
  margin-right: 14px;
}
.header__buttons .button:last-child {
  margin-right: 0;
}

.layout-4-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.layout-4-column > * {
  flex-basis: 21%;
}

.layout-3-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.layout-3-column > * {
  flex-basis: 30%;
}

.layout-2-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.layout-2-column > * {
  flex-basis: 48%;
}

.footer {
  padding: 58px 0 52px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-navigation {
  flex-grow: 1;
  margin-left: 152px;
}

.footer-navigation__title {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;
}

.footer-navigation__link {
  color: #544837;
  transition: color 0.3s;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.5rem;
}
.footer-navigation__link:hover {
  color: #FF9900;
}

.navigation {
  display: flex;
  font-size: 1.5rem;
  line-height: 2.8rem;
}

.navigation__item {
  padding: 0 10px;
}

.navigation__link {
  color: #2F281E;
  transition: color 0.3s;
}
.navigation__link:hover {
  color: #FF9900;
}

.promo {
  padding: 30px 0 111px;
}

.promo__wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
}

.promo__content {
  margin-right: 66px;
}

.promo__title {
  max-width: 550px;
  margin-bottom: 30px;
}

.promo__text {
  max-width: 486px;
  margin-bottom: 45px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.promo__buttons {
  display: flex;
  justify-content: start;
  align-items: center;
}
.promo__buttons .button {
  width: 174px;
  margin-right: 44px;
}

.tools {
  padding-bottom: 90px;
  background-image: url("../../img/backgrounds/tools-bg.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
}

.tools__title {
  max-width: 462px;
  margin: 0 auto 70px;
  text-align: center;
}

.tools__button {
  margin-top: 60px;
  text-align: center;
}

.tool__icon {
  margin-bottom: 30px;
}

.tool__title {
  margin-bottom: 30px;
}

.tool__text {
  margin-bottom: 16px;
}

.strategies {
  padding: 30px 0;
}

.strategies__title {
  margin-bottom: 14px;
}

.strategies__description {
  margin-bottom: 24px;
}

.strategies__tags {
  margin-bottom: 31px;
}

.strategies__strategy {
  margin-bottom: 30px;
}

.strategy {
  padding-bottom: 29px;
}

.strategy__content {
  padding: 0 33px;
}

.strategy__title {
  margin: 24px 0 29px;
  cursor: pointer;
}
.strategy__title:hover {
  color: #FF9900;
}

.about-us {
  padding-bottom: 101px;
}

.about-us__title {
  margin-bottom: 14px;
}

.about-us__description {
  margin-bottom: 45px;
  color: #544837;
}

.employee__wrapper {
  padding-right: 32px;
}

.employee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  padding-right: 0;
}

.employee__name {
  line-height: 2rem;
}

.employee__title {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
}

.employee__link {
  color: #1943EF;
  text-decoration: underline;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
}
.employee__link:hover {
  text-decoration: underline;
}

.employee__img {
  position: relative;
  right: -32px;
  width: 98px;
  height: 98px;
  border-radius: 100%;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.contact-us {
  padding: 62px 0 82px;
  background-color: #FFEEE1;
}

.contact-us__description {
  margin: 17px 0 33px;
}

.contact-us__link {
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.6rem;
  color: #544837;
  margin-left: 11px;
}
.contact-us__link:hover {
  text-decoration: underline;
}

.contact-us__item {
  display: flex;
  align-items: center;
}
.contact-us__item_phone {
  margin-bottom: 14px;
}

.contact-us__input, .contact-us__textarea {
  padding: 10px 21px;
  margin-bottom: 18px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  background-color: #FFFFFF;
}
.contact-us__input:focus, .contact-us__textarea:focus {
  border-color: #FF9900;
  outline: none;
}

.contact-us__textarea {
  width: 100%;
  height: 160px;
  resize: none;
}

.contact-us__button .button {
  width: 117px;
}

/*# sourceMappingURL=style.css.map */
