.contact-us {
  padding: 62px 0 82px ;
  background-color: $color-background;

  @include media-tablet {
    text-align: center;
    padding-bottom: 50px;
  }
}

.contact-us__wrapper {
  @include media-tablet {
    flex-direction: column;
  }
}

.contact-us__description {
  margin: 17px 0 33px;
  max-width: 527px;

  @include media-tablet {
    max-width: 99%;
  }

  @include media-mobile {
    margin-bottom: 24px;
  }
}

.contact-us__link {
  @include font(400, 2.5rem, 2.6rem);
  color: $color-text;
  margin-left: 11px;

  &:hover {
    text-decoration: underline;
  }

  @include media-mobile {
    @include font(400, 2rem, 2.6rem);
  }
}

.contact-us__item {
  display: flex;
  align-items: center;

  &_phone {
    margin-bottom: 14px;
  }

  @include media-tablet {
    justify-content: center;
  }
}

.contact-us__form {
  @include media-tablet {
    margin-top: 54px;
  }

  @include media-mobile {
    margin-top: 41px;
  }
}

.contact-us__input {
  @include media-mobile {
    flex-basis: 100%;
  }
}

.contact-us__input, .contact-us__textarea {
  padding: 10px 21px;
  margin-bottom: 18px;
  border: 1px solid $color-light;
  border-radius: 5px;
  background-color: $color-light;

  &:focus {
    border-color: $color-primary;
    outline: none;
  }
}

.contact-us__textarea {
  width: 100%;
  height: 160px;
  resize: none;
}

.contact-us__button {
  .button {
    width: 117px;
  }
}