.navigation {
  display: flex;
  font-size: 1.5rem;
  line-height: 2.8rem;
}

.navigation__item {
  padding: 0 10px;
}

.navigation__link {
  color: $color-heading;
  transition: color .3s;

  &:hover {
    color: $color-primary;
  }
}
