html {
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: 'Open Sans', Verdana, sans-serif;
}

h1 {
  @extend %font-secondary;

  @include font(700, 4.4rem, 5.4rem);
}

h2 {
  @include font(700, 3.4rem, 4.6rem);
}

h3 {
  @include font(700, 2.4rem, 3.4rem);
}

h4 {
  @include font(600, 2.2rem, 3.0rem);
}

h5 {
  @include font(700, 1.6rem, 2.6rem);
}