.header {
  padding: 15px 0 17px 0;
  background-color: $color-light;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: start;

  @include media-tablet {
    padding-left: 24px;
  }
}

.header__buttons {
  display: flex;
  justify-content: start;
  margin-left: auto;

  .button {
    margin-right: 14px;
  }

  .button:last-child {
    margin-right: 0;
  }

  @include media-mobile {
    display: none;
  }
}
